<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>User <%= @name %> sent email for you </h2>
    <p> <%= @text %></p>
  </body>
</html>
