<h1 class='text-center'>Welcome to RailwayTickets site</h1>
<h3>Here you can find tickets to any place you need</h2>

<%= link_to 'I want to find tickets', order_new_path, method: :get %>
<br>
<!-- <%= link_to 'Send Email', welcome_send_email_path, method: :post %> -->
