<h1 class='text-center'>Welcome to RailwayTickets</h1>
<h3 class='text-center'>Here you can find tickets to any place you need</h2>

<% if can? :create, @order %>
    <div class="center-div">
      <%= button_to 'I want to find tickets', order_new_path, method: :get, class:'btn pull-center' , id: 'btn-main' %>
    </div>
<% end%>
<br>
<!-- <%= link_to 'Send Email', welcome_send_email_path, method: :post %> -->
